*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
}
/* img{
    
    border-image: none;
    border: none;
    border-image-outset: unset;
} */
.container{
    background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000);
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    width: 1500px;
    height: 100vh;
    margin: 0px auto;
    color: antiquewhite;
    text-align: center;
    /* padding-top: 350px; */
}
h1,
h2,
h3 {
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2.6rem;
    text-transform: capitalize;
}
#seconds,
#tens{
    font-size: 2em;
}
button{
    width: 150px;
    height: 50px;
    background: transparent;
    color: whitesmoke;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    border-color: aliceblue;
}
button:hover {
    background: aliceblue;
    color: black;
    font-weight: 800;
}